* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#root {
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(50, 50, 50, .5);
    border-radius: 10px;
}

.navigate-overlay {
    background-color: rgba(0, 0, 0, 0);
    z-index: 10000;
    position: fixed;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    input {
        background-color: rgba(0, 0, 0, 0.5);
        outline-color: rgba(0, 0, 0, 0.5);
        color: white;
        border-style: none;
        position: fixed;
        height: 10%;
        width: 10%;
        bottom: 0;
        left: 0;
        font-size: 4vmin;
    }
    input:focus {
        background-color: rgba(0, 0, 0, 0.3);
        outline-color: rgba(0, 0, 0, 0.3);
    }
    div {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        position: fixed;
        right: 0;
        bottom: 0;
        vertical-align: middle;
        text-align: right;
        font-size: 3vmin;
    }
}

.all-container-0 {
    padding: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    .top-container {
        height: 50px;
        input,
        li {
            display: inline-block;
            font-size: 1.3rem;
            width: 5rem;
            height: 50px;
        }
        li {
            width: 15rem;
            right: 0;
        }
    }
    .bottom-container {
        height: calc(100% - 50px);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .button-box {
            width: 50%;
            height: 50%;
            display: flex;
            flex-direction: row;
            .box-left {
                width: calc((100vh - 50px) / 2);
                height: calc((100vh - 50px) / 2);
                display: flex;
                justify-content: center;
                align-items: center;
                input {
                    border: solid 0px green;
                    width: 80%;
                    margin: 0%;
                    height: 80%;
                    background-color: lightgreen;
                    animation: fadeIn 1s ease;
                    transition: all 100ms 0s ease;
                }
                input:hover {
                    transform: scale(1.1, 1.1);
                    letter-spacing: 5px;
                }
                input:active {
                    transform: scale(0.8, 0.8);
                }
            }
            .box-right {
                width: calc(100% - (100vh - 50px) / 2);
                display: flex;
                flex-direction: column;
                p {
                    margin: 0;
                    font-size: 0.9em;
                }
                .box-text {
                    width: 100%;
                    height: 70%;
                    padding: 0;
                    margin-top: 2rem;
                }
                .box-score {
                    width: 100%;
                    height: 30%;
                    padding: 0;
                    margin: 2px;
                }
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0, 0) rotate(90deg);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1) rotate(0deg);
    }
}

.all-container-1 {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    .left-container {
        background-color: red;
        width: 20%;
        height: 100%;
        margin: 0px;
        display: flex;
        flex-direction: column;
    }
    .info-container {
        background-color: rgb(255, 65, 65);
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .face-image {
        background-color: rgb(255, 0, 0);
        width: 20vmin;
        height: 20vmin;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .channel-container {
        background-color: rgb(255, 154, 154);
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }
    .channel-container li {
        color: black;
        border-left: solid 8px orange;
        background-color: whitesmoke;
        line-height: 1.5;
        padding: 3%;
        list-style-type: none;
        margin: 3%;
    }
    .center-container {
        background-color: blue;
        width: 60%;
        height: 100%;
        margin: 0px;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }
    .balloon {
        position: relative;
        display: inline-block;
        margin: 1% 6% 1% 6%;
        padding: 7px 10px;
        min-width: 120px;
        max-width: 100%;
        color: #555;
        font-size: 16px;
        background: #e0edff;
        border-radius: 8px;
    }
    .balloon:before {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -10px;
        border: 10px solid transparent;
    }
    .balloon-left:before {
        left: -20px;
        border-right: 10px solid #e0edff;
    }
    .balloon-right:before {
        left: 100%;
        border-left: 10px solid #e0edff;
    }
    .balloon p {
        margin: 0;
        padding: 0;
    }
    .right-container {
        background-color: green;
        width: 20%;
        height: 100%;
        margin: 0px;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }
    .right-container li {
        color: black;
        border-top: solid 8px rgb(185, 165, 87);
        background-color: rgb(255, 230, 119);
        padding: 3%;
        list-style-type: none;
        margin: 3%;
        word-wrap: break-word;
    }
}

.all-container-2 {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-flow: column;
    .top-container {
        width: 100%;
        height: 20%;
        background-color: red;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-around;
        input {
            width: 15vmin;
            height: 15vmin;
            margin: 1vmin;
        }
        input[value="exit"] {
            margin-left: auto;
        }
    }
    .main-container {
        width: 100%;
        height: 80%;
        background-color: blue;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        align-content: flex-start;
        overflow: auto;
    }
    .image-container {
        background-color: green;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1vmin;
        width: 18vmax;
        height: 18vmax;
        min-width: 100px;
        min-height: 100px;
    }
    .image-container img {
        width: 100%;
        height: 100%;
    }
}

.all-container-3 {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-flow: column;
    .top-container {
        width: 100%;
        height: 8%;
        z-index: 999;
        .scroll-container {
            overflow-x: auto;
            .item {
                background: #f6f6f6;
                display: table-cell;
                a {
                    white-space: nowrap;
                    display: block;
                    padding: 10px 20px;
                    text-decoration: none;
                    color: #040404;
                }
            }
        }
    }
    .main-container {
        width: 100%;
        height: 92%;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        fieldset {
            width: 100%;
            background-color: whitesmoke;
            legend {
                font-size: 2vw;
                background-color: whitesmoke;
            }
        }
        table,
        td,
        th {
            border: 1px solid black;
            border-collapse: collapse;
        }
        td,
        th {
            width: 9%;
            padding: 3px;
            font-size: 2vw;
        }
        th {
            background: #f0e6cc;
        }
        td {
            background: white;
            input {
                width: 60%;
                font-size: 1em;
            }
        }
        .nar {
            width: 5%;
        }
        input[type="button"] {
            width: 25%;
            height: 25%;
            background-color: transparent;
            border: 0;
            padding: 0;
            margin: 0;
        }
        .switch {
            margin: 1%;
            input {
                display: none;
            }
            label {
                white-space: nowrap;
                cursor: pointer;
                font-size: 1vw;
            }
            label:before {
                padding: 0.5vw 1vw;
                content: 'O N';
                border-radius: 6px 0 0 6px;
                background: linear-gradient(to bottom, #F0F0F0 0%, #DDD 100%);
                box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1) inset;
                color: #333;
            }
            label:after {
                padding: 0.5vw 1vw;
                content: 'OFF';
                border-radius: 0 6px 6px 0;
                background: #C30;
                box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1) inset;
                color: #FFF;
            }
            input:checked+label:before {
                background: #9C0;
                color: #FFF;
                opacity: 1;
            }
            input:checked+label:after {
                background: linear-gradient(to bottom, #F0F0F0 0%, #DDD 100%);
                color: #333;
            }
        }
    }
}

.all-container-4 {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    .left-container {
        width: 40%;
        margin: 0px;
        overflow-y: scroll;
        table,
        td,
        th {
            border: 1px solid black;
            border-collapse: collapse;
        }
        td,
        th {
            width: 9%;
            padding: 3px;
            font-size: 1.5vw;
        }
        td {
            background: whitesmoke;
        }
    }
    .right-container {
        width: 60%;
        margin: 0px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }
}