* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}

 ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

 ::-webkit-scrollbar-track {
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb {
    background-color: rgba(50, 50, 50, 0.5);
    border-radius: 10px;
}

.all-container-0 {
    padding: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.all-container-0 .top-container {
    height: 50px;
    margin-bottom: 10px;
}

.all-container-0 .top-container input,
.all-container-0 .top-container li {
    display: inline-block;
    font-size: 1.3rem;
    width: 5rem;
    height: 50px;
}

.all-container-0 .top-container li {
    width: 15rem;
    right: 0;
}

.all-container-0 .bottom-container {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.all-container-0 .bottom-container .button-box {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.all-container-0 .bottom-container .button-box .box-left {
    width: calc((100vh - 50px) / 2);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-container-0 .bottom-container .button-box .box-left input {
    border: solid 0px green;
    width: 80%;
    margin: 0%;
    height: 80%;
    background-color: lightgreen;
    animation: fadeIn 1s ease;
    transition: all 100ms 0s ease;
}

.all-container-0 .bottom-container .button-box .box-left input:hover {
    transform: scale(1.1, 1.1);
    letter-spacing: 5px;
}

.all-container-0 .bottom-container .button-box .box-left input:active {
    transform: scale(0.8, 0.8);
}

.all-container-0 .bottom-container .button-box .box-right {
    width: calc(100% - (100vh - 50px) / 2);
    display: flex;
    flex-direction: column;
}

.all-container-0 .bottom-container .button-box .box-right p {
    margin: 0;
    font-size: 0.9em;
}

.all-container-0 .bottom-container .button-box .box-right .box-text {
    width: 100%;
    height: 70%;
    padding: 0;
    margin: 2px;
}

.all-container-0 .bottom-container .button-box .box-right .box-score {
    width: 100%;
    height: 30%;
    padding: 0;
    margin: 2px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0, 0) rotate(90deg);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1) rotate(0deg);
    }
}

.all-container-1 {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.all-container-1 .left-container {
    background-color: red;
    width: 20%;
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.all-container-1 .info-container {
    background-color: #ff4141;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-container-1 .face-image {
    background-color: red;
    width: 20vmin;
    height: 20vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-container-1 .channel-container {
    background-color: #ff9a9a;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.all-container-1 .channel-container li {
    color: black;
    border-left: solid 8px orange;
    background-color: whitesmoke;
    line-height: 1.5;
    padding: 3%;
    list-style-type: none;
    margin: 3%;
}

.all-container-1 .center-container {
    background-color: blue;
    width: 60%;
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.all-container-1 .balloon {
    position: relative;
    display: inline-block;
    margin: 1% 6% 1% 6%;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #e0edff;
    border-radius: 8px;
}

.all-container-1 .balloon:before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -10px;
    border: 10px solid transparent;
}

.all-container-1 .balloon-left:before {
    left: -20px;
    border-right: 10px solid #e0edff;
}

.all-container-1 .balloon-right:before {
    left: 100%;
    border-left: 10px solid #e0edff;
}

.all-container-1 .balloon p {
    margin: 0;
    padding: 0;
}

.all-container-1 .right-container {
    background-color: green;
    width: 20%;
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.all-container-1 .right-container li {
    color: black;
    border-top: solid 8px #b9a557;
    background-color: #ffe677;
    padding: 3%;
    list-style-type: none;
    margin: 3%;
    word-wrap: break-word;
}

.all-container-2 {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-flow: column;
}

.all-container-2 .top-container {
    width: 100%;
    height: 20%;
    background-color: red;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}

.all-container-2 .top-container input {
    width: 15vmin;
    height: 15vmin;
    margin: 1vmin;
}

.all-container-2 .top-container input[value="exit"] {
    margin-left: auto;
}

.all-container-2 .main-container {
    width: 100%;
    height: 80%;
    background-color: blue;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: auto;
}

.all-container-2 .image-container {
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vmin;
    width: 18vmax;
    height: 18vmax;
    min-width: 100px;
    min-height: 100px;
}

.all-container-2 .image-container img {
    width: 90%;
    height: 90%;
}

.all-container-3 {
    width: 100%;
    margin: 0px;
}

.all-container-3 .top-container {
    width: 100%;
    height: 8%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.all-container-3 .top-container .scroll-container {
    overflow-x: auto;
}

.all-container-3 .top-container .scroll-container .item {
    background: #f6f6f6;
    display: table-cell;
}

.all-container-3 .top-container .scroll-container .item a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #040404;
}

.all-container-3 .main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 12%;
}

.all-container-3 .main-container fieldset {
    width: 100%;
    background-color: whitesmoke;
}

.all-container-3 .main-container fieldset legend {
    font-size: 2vw;
    background-color: whitesmoke;
}

.all-container-3 .main-container table,
.all-container-3 .main-container td,
.all-container-3 .main-container th {
    border: 1px solid black;
    border-collapse: collapse;
}

.all-container-3 .main-container td,
.all-container-3 .main-container th {
    width: 9%;
    padding: 3px;
    font-size: 2vw;
}

.all-container-3 .main-container th {
    background: #f0e6cc;
}

.all-container-3 .main-container td {
    background: white;
}

.all-container-3 .main-container td input {
    width: 60%;
    font-size: 1em;
}

.all-container-3 .main-container .nar {
    width: 5%;
}

.all-container-3 .main-container input[type="button"] {
    width: 25%;
    height: 25%;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
}

.all-container-3 .main-container .switch {
    margin: 1%;
}

.all-container-3 .main-container .switch input {
    display: none;
}

.all-container-3 .main-container .switch label {
    white-space: nowrap;
    cursor: pointer;
    font-size: 1vw;
}

.all-container-3 .main-container .switch label:before {
    padding: 0.5vw 1vw;
    content: 'O N';
    border-radius: 6px 0 0 6px;
    background: linear-gradient(to bottom, #F0F0F0 0%, #DDD 100%);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1) inset;
    color: #333;
}

.all-container-3 .main-container .switch label:after {
    padding: 0.5vw 1vw;
    content: 'OFF';
    border-radius: 0 6px 6px 0;
    background: #C30;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1) inset;
    color: #FFF;
}

.all-container-3 .main-container .switch input:checked+label:before {
    background: #9C0;
    color: #FFF;
    opacity: 1;
}

.all-container-3 .main-container .switch input:checked+label:after {
    background: linear-gradient(to bottom, #F0F0F0 0%, #DDD 100%);
    color: #333;
}

.all-container-4 {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.all-container-4 .left-container {
    width: 40%;
    margin: 0px;
    overflow-y: scroll;
}

.all-container-4 .left-container table,
.all-container-4 .left-container td,
.all-container-4 .left-container th {
    border: 1px solid black;
    border-collapse: collapse;
}

.all-container-4 .left-container td,
.all-container-4 .left-container th {
    width: 9%;
    padding: 3px;
    font-size: 1.5vw;
}

.all-container-4 .left-container td {
    background: whitesmoke;
}

.all-container-4 .right-container {
    width: 60%;
    margin: 0px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    overflow: auto;
}


/*# sourceMappingURL=style.css.map */